@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    background-color: #6495ed;
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Merriweather', serif;
    color:darkblue;
}

#add {
    background-color: rgb(9, 255, 0);
    border: 0;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
}

.remove {
    margin-top: 13px;
    background-color: #f2f205;
    float: right;
    clear: both;
    padding-right: 20px;
    border-radius: 5px;
    border-style: none;
    width: 60px;
    height: 20px;

}

#wrapper {
    width: 450px;
    background-color: #fdfdfd;
    margin-top: 120px;
    margin-left: 295px;
    border-radius: 8px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 65px;
    
}