@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    background-color: #6495ed;
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Merriweather', serif;
    color:darkblue;
}

#add {
    background-color: rgb(9, 255, 0);
    border: 0;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 35px;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
}